<form action="/trips/<%= trip._id%>/edit" method="post">

  <div class="form-group">
    <label for="tripCountry">Country</label>
    <input id="tripCountry" class="form-control" value="<%= trip.country%>" name="country">
  </div>

  <div class="form-group">
    <label for="tripPackageNumber">Package Number</label>
    <input id="tripPackageNumber" class="form-control" type="packageNumber" name="packageNumber">
  </div>

  <input class="btn btn-primary" type="submit">
</form>
